.task
  .form
    .form__message
      =form_for [@category,@task],url:category_tasks_path,html:{id:'new_task'} do|f|
        =f.text_field :task_name, class: 'form__message', placeholder: "#{@category1.cat_name}のタスクを追加"
        .form__mask
          =f.label :deadline, class: 'form__mask__image' do
            = f.date_field :deadline, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'   
  .works
    -@tasks.each do|task|
      .work
        .work__box
          =label_tag :check1,task.task_name
        .work__btn
          =task.deadline
          =link_to "削除",category_task_path(@category1.id,task), method: :delete,class:"icon"