.task
  .form
    %form
      %input.form__message{placeholder:"タスクを追加"}
        .form__mask
          %label.form__mask__calender
            = fa_icon 'calendar', class: 'icon'
        -# %input.form__submit{type: 'submit', value: 'Send'}
        .works
          .work
            .work__name
              寝る
            .work__btn
              = fa_icon 'heart-o', class: 'icon'
          .work
            .work__name
              寝る
            .work__btn
              = fa_icon 'heart-o', class: 'icon'
          .work
            .work__name
              寝る
            .work__btn
              = fa_icon 'heart-o', class: 'icon'