@import "./reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./font-awesome";
@import "./header";
@import "./side_bar";
@import "./task";
@import "./flash";
@import "./new";
@import "./user";
@import "./edit_category";