html{
  height: 100%;
  widows: 100%;
}
.header{
  height: 56px;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  &__title{
    font-size: 20px;
    line-height: 56px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    padding: 0 50px;
    font-weight: bold;
    color: white;
    .todo{
      text-decoration: none;
      color: white;
    }
  }
  &__right{
    line-height: 56px;
    display: flex;
    margin-left: 950px;
    color: white;
    &__btn{
      text-decoration: none;
      color: white;
      &__2{
        padding-right: 30px;
        text-decoration: none;
        color: white;
      }
    }
  }
}