.task-side{
  float: left;
  width: 20%;
  height: calc(100vh - 56px);
  background-color:ghostwhite;
  .tasks{
    height: 90%;
    .task__box{
      height: 25px;
      padding:15px 15px;
      display: flex; 
      .choise{
        color: lavender;
      }
      &__name{

        a:-webkit-any-link{
          text-decoration: none;
          color: black;
        }

        .a:-webkit-any-link{
          text-emphasis: none;
        }
      }
      &__edit{
        margin-left:150px;
      }
    }
  }
  .header{
    background-color:#ffffff;
    height: 10%;
    #fadetoggle_button{
      text-decoration: none;
      text-decoration: none;
      font-size: 20px;
      margin: 0 auto;
      line-height: 73px;
      color:black;
    }
    .form{
      line-height: 78px;
      margin-right: 15px;
      &__message{
        border-radius: 8px;
        height: 30px;
        border:2px solid cornflowerblue;
      }
      &__submit{
        border: 1px solid white;
        border-radius: 3px;
        font-size: 5px;
        background-color:cornflowerblue;
        color: black;
        width: 40px;
        height: 25px;
      }
      &__submit:hover{
        opacity: 0.6;
      }
    }
  }
}

