.task-side{
  float: left;
  width: 20%;
  height: calc(100vh - 56px);
  background-color:ghostwhite;
  .tasks{
    height: 90%;
    overflow: scroll;
    .task__box{
      height: 25px;
      padding:15px 15px;
      border-bottom: solid 1px gainsboro;
      &__name{
        float: left;
        .choise{
          color:gainsboro;
        }
        a:-webkit-any-link{
          text-decoration: none;
          color: black;
        }
      }
      &__edit{
        float: right;
        margin-left:150px;
        .pen{
          color: black;
        }
        .pen:hover{
          opacity:0.5;
        }
      }
    }
    .task__box:hover{
      background-color: lightblue;
    }
  }
  .header{
    background-color:#ffffff;
    height: 10%;
    #fadetoggle_button{
      text-decoration: none;
      text-decoration: none;
      font-size: 20px;
      margin: 0 auto;
      line-height: 73px;
      color:black;
    }
    .form{
      #fadetoggle_menu{
        display: none;
      }
      line-height: 78px;
      margin-right: 15px;
      &__message{
        border-radius: 8px;
        height: 30px;
        border:3px solid cornflowerblue;
      }
      &__submit{
        border: 1px solid white;
        border-radius: 3px;
        font-size: 5px;
        background-color:cornflowerblue;
        color: black;
        width: 40px;
        height: 25px;
      }
      &__submit:hover{
        opacity: 0.6;
      }
    }
  }
}

