.task{
  float: right;
  width: 80%;
  height: calc(100vh - 56px);;
  background-image: url("/avenue.jpg");
  background-size: cover;
  .form{
    padding:20px;
    &__message{
      width: 100%;
      height: 40px;
      border-radius: 10px;
      background-color: black;
      opacity: 40%;
      position: relative;
    }
    &__mask__calender{
      .icon{
        color: white;
        right: 45px;
        bottom: 717px;
        position: absolute;
      }
    }
  }
  .works{
    margin-top: 20px;
    .work{
      margin-top: 3px;
      width: 100%;
      background-color: #fff;
      height: 40px;
      border-radius: 3px;
      line-height: 40px;
      &__box{
        float: left;
        position: relative;
        margin-left: 20px;
      }
      &__btn{
        float: right;
        position: relative;
        right: 20px;
      }
    }
  }
}