.account-page{
  font-family: unset;
  font-size: 20px;
  text-align: center;
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  height: 500px;
  &__inner--left.account-page__header{
    font-size: 30px;
    padding-top: 20px;
  }
  .field{
    padding: 15px;
    margin-top: 10px;
    .field-label{
      padding: 10px;
      font-size: 18px;;
    }
  }
  .actions{
    margin-bottom: 30px;
    margin-top: 30px;
    .btn{
      width: 100px;
      border:2px solid cornflowerblue;
      border-radius: 10px;
    }
  }
  .link{
    color:white;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
  }
}