.task-side
  .tasks
    -current_user.categories.each do|category|
      .task__box
        .task__box__name
          = link_to category_tasks_path(category) do
            = fa_icon 'list', class: 'choise' 
            =category.cat_name
        .task__box__edit
          = link_to  edit_category_path(category.id) do
            = fa_icon 'pencil', class: 'pen' 
  .header
    %a#fadetoggle_button{:href => "#"} ＋
.task
  .task__edit
